* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* để padding/border không làm phần tử to hơn dự tính */
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(180deg, #1b0f2e 0%, #4522c5 50%, #1b0f2e 100%);
  color: #ffffff;
  min-height: 100vh;
}
